@font-face {
  font-family: Lato;
  src: url("../fonts/Lato.ttf");
}
@font-face {
  font-family: Aller;
  src: url("../fonts/Aller.ttf");
}
body {
  font-family: Lato, sans-serif;
}
body .wrapper {
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr 15%;
  grid-template-areas: ". header header header ." "main main main main main" ". footer footer footer .";
}
body .wrapper header {
  grid-area: header;
}
body .wrapper header .header-desktop-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 780px) {
  body .wrapper header .header-desktop-menu {
    display: none;
  }
}
body .wrapper header .header-desktop-menu h1 {
  font-size: 4rem;
  color: #3870DF;
}
body .wrapper header .header-desktop-menu nav ul li {
  list-style: none;
  padding-left: 20px;
}
body .wrapper header .header-desktop-menu nav ul li img {
  width: 15px;
}
body .wrapper header .header-desktop-menu nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 1.2rem;
}
@media screen and (max-width: 960px) {
  body .wrapper header .header-desktop-menu nav ul li a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 860px) {
  body .wrapper header .header-desktop-menu nav ul li a {
    font-size: 0.8rem;
  }
}
body .wrapper header .header-desktop-menu nav ul li a:hover {
  color: #404040;
}
@media screen and (min-width: 780px) {
  body .wrapper header .header-mobile-menu {
    display: none;
  }
}
body .wrapper header .header-mobile-menu .header-mobile-logo {
  font-family: aller;
  color: #3870DF;
  display: flex;
  margin: 0;
  padding: 0;
}
body .wrapper header .header-mobile-menu .header-mobile-logo h1 {
  font-size: 2.5rem;
  display: block;
  padding: 0;
  margin: 0;
}
body .wrapper header .header-mobile-menu .header-mobile-logo .burger-mobile-nav-menu {
  display: block;
  height: 40px;
  width: 100%;
  background: url("../img/menu.svg") no-repeat 98% center;
  cursor: pointer;
}
body .wrapper header .header-mobile-menu nav .header-mobile-nav-menu {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  overflow: hidden;
  height: 0;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
body .wrapper header .header-mobile-menu nav .header-mobile-nav-menu li {
  list-style: none;
}
body .wrapper header .header-mobile-menu nav .header-mobile-nav-menu li:nth-child(2) {
  padding-left: 0rem;
}
body .wrapper header .header-mobile-menu nav .header-mobile-nav-menu li:nth-child(3) {
  padding-left: 0rem;
}
body .wrapper header .header-mobile-menu nav .header-mobile-nav-menu li:nth-child(4) {
  padding-left: 0rem;
}
body .wrapper header .header-mobile-menu nav .header-mobile-nav-menu li a {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 1px solid #404040;
  display: block;
  text-align: center;
  margin: 2% 4% 4% 4%;
  padding: 2% 4% 4% 4%;
  justify-content: center;
}
body .wrapper header .header-mobile-menu nav .header-mobile-nav-menu li a:hover {
  color: #404040;
}
body .wrapper header .header-mobile-menu nav .header-mobile-nav-menu li a img {
  width: 30px;
}
body .wrapper main {
  grid-area: main;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr 15%;
  grid-template-areas: ". main-banner main-banner main-banner ." ". section section section ." ". main-cooperation main-cooperation main-cooperation .";
}
@media screen and (max-width: 780px) {
  body .wrapper main {
    grid-template-areas: "main-banner main-banner main-banner main-banner main-banner" ". section section section ." "main-cooperation main-cooperation main-cooperation main-cooperation main-cooperation";
  }
}
body .wrapper main .main-banner {
  grid-area: main-banner;
}
body .wrapper main .main-banner img {
  max-width: 100%;
  height: auto;
}
body .wrapper main section {
  grid-area: section;
}
body .wrapper main section .main-title {
  margin: 1%;
}
body .wrapper main section .main-title h3 {
  color: #3870DF;
  padding: 1% 0 1% 0;
  margin: 2% 0 1% 0;
  font-size: 2rem;
}
body .wrapper main section .main-articles .articles-all {
  display: flex;
}
@media screen and (max-width: 640px) {
  body .wrapper main section .main-articles .articles-all {
    flex-wrap: wrap;
  }
}
body .wrapper main section .main-articles .articles-all article {
  margin: 1%;
}
body .wrapper main section .main-articles .articles-all article header {
  font-size: 1.3rem;
  font-weight: bold;
  color: #3870DF;
  margin: 0;
  padding: 0;
}
body .wrapper main section .main-articles .articles-all article p {
  text-align: justify;
}
body .wrapper main section .main-articles .articles-all article button {
  margin: 3% 0 3% 0;
}
@media screen and (min-width: 640px) {
  body .wrapper main section .main-articles .articles-all article button {
    display: none;
  }
}
body .wrapper main section .main-articles .articles-button {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 640px) {
  body .wrapper main section .main-articles .articles-button {
    display: none;
  }
}
body .wrapper main .main-cooperation {
  grid-area: main-cooperation;
  background: #3870DF;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 8% 0 8% 0;
  padding: 5% 1%;
}
@media screen and (max-width: 780px) {
  body .wrapper main .main-cooperation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
body .wrapper main .main-cooperation p {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 1%;
  text-align: center;
}
@media screen and (max-width: 780px) {
  body .wrapper main .main-cooperation p {
    font-size: 2rem;
  }
}
body .wrapper main .main-cooperation .cooperation_right {
  color: #ffffff;
  margin-left: 3%;
  align-self: center;
  text-align: center;
}
@media screen and (max-width: 780px) {
  body .wrapper main .main-cooperation .cooperation_right {
    margin-left: 0%;
  }
}
body .wrapper main .main-cooperation .cooperation_right p {
  font-size: 1.2rem;
}
body .wrapper main .main-cooperation .cooperation_right button {
  margin: 3% 0 3% 0;
}
body .wrapper footer {
  grid-area: footer;
}
body .wrapper footer .footer-hr {
  padding-bottom: 1%;
}
body .wrapper footer .footer-hr hr {
  color: #bdbdbd;
}
body .wrapper footer .footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "footer-foundation footer-projects footer-cooperation footer-contact";
  margin: 3% 0 0 0;
}
@media screen and (max-width: 640px) {
  body .wrapper footer .footer-top {
    display: flex;
    flex-wrap: wrap;
  }
}
body .wrapper footer .footer-top .footer-foundation {
  grid-area: footer-foundation;
}
body .wrapper footer .footer-top .footer-foundation header {
  text-transform: uppercase;
}
body .wrapper footer .footer-top .footer-foundation ul li {
  list-style: none;
}
body .wrapper footer .footer-top .footer-foundation ul li a {
  text-decoration: none;
  color: #000000;
}
body .wrapper footer .footer-top .footer-projects {
  grid-area: footer-projects;
  margin-left: 1%;
}
body .wrapper footer .footer-top .footer-projects header {
  text-transform: uppercase;
}
body .wrapper footer .footer-top .footer-projects ul li {
  list-style: none;
}
body .wrapper footer .footer-top .footer-projects ul li a {
  text-decoration: none;
  color: #000000;
}
body .wrapper footer .footer-top .footer-cooperation {
  grid-area: footer-cooperation;
  margin-left: 1%;
}
body .wrapper footer .footer-top .footer-cooperation header {
  text-transform: uppercase;
}
body .wrapper footer .footer-top .footer-cooperation ul li {
  list-style: none;
}
body .wrapper footer .footer-top .footer-cooperation ul li a {
  text-decoration: none;
  color: #000000;
}
body .wrapper footer .footer-top .footer-contact {
  grid-area: footer-contact;
  margin-left: 1%;
}
body .wrapper footer .footer-top .footer-contact header {
  text-transform: uppercase;
}
body .wrapper footer .footer-top .footer-contact ul li {
  list-style: none;
}
body .wrapper footer .footer-top .footer-contact ul li a {
  text-decoration: none;
  color: #000000;
}
body .wrapper footer .footer-bottom {
  text-align: center;
  margin: 2% 0 2% 0;
}

/*# sourceMappingURL=main.scss.map */
