@import 'variables.scss';
@import 'mixins.scss';
@import 'fonts.scss';

body {
  font-family: Lato, sans-serif;
  .wrapper {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 15%;
    grid-template-areas: ". header header header ." "main main main main main" ". footer footer footer .";
    header {
      grid-area: header;
      .header-desktop-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 780px){
          display: none;
        }
        h1{
          font-size: 4rem;
          color: $color-blue;
        }
        nav{
          ul{
            li{
              list-style: none;
              padding-left: 20px;
              img{
                width: 15px;
              }
              a{
                text-decoration: none;
                text-transform: uppercase;
                color: $color-black;
                font-size: 1.2rem;
                @media screen and (max-width: 960px){
                  font-size: 1rem;
                }
                @media screen and (max-width: 860px){
                  font-size: 0.8rem;
                }
                &:hover {
                  color: $color-grey;
                }
              }
            }
          }
        }
      }
      .header-mobile-menu{
        @media screen and(min-width: 780px){
          display: none;
        }
        .header-mobile-logo {
          font-family: aller;
          color: $color-blue;
          display: flex;
          margin: 0;
          padding: 0;
          h1{
            font-size: 2.5rem;
            display: block;
            padding: 0;
            margin: 0;
          }
          .burger-mobile-nav-menu {
              display: block;
              height: 40px;
              width: 100%;
              background: url("../img/menu.svg") no-repeat 98% center;
              cursor: pointer;
          }
        }
        nav {
          .header-mobile-nav-menu {
            display: flex;
            justify-content: flex-start;
            padding: 0;
            overflow: hidden;
            height: 0;
            flex-direction: column;
            margin: 0;
            padding: 0;
            li {
              list-style: none;
              &:nth-child(2) {
                  padding-left: 0rem;
              }
              &:nth-child(3) {
                  padding-left: 0rem;
              }
              &:nth-child(4) {
                  padding-left: 0rem;
              }
              a {
                font-size: 1.2rem;
                text-decoration: none;
                text-transform: uppercase;
                color: $color-black;
                border-bottom: 1px solid $color-grey;
                display: block;
                text-align: center;
                margin: 2% 4% 4% 4%;
                padding: 2% 4% 4% 4%;
                justify-content: center;
                &:hover {
                  color: $color-grey;
                }
                img {
                    width: 30px;
                }
              }
            }
          }
        }
      }
    }
    main {
      grid-area: main;
      display: grid;
      grid-template-columns: 15% 1fr 1fr 1fr 15%;
      grid-template-areas:
                          ". main-banner main-banner main-banner ."
                          ". section section section ."
                          ". main-cooperation main-cooperation main-cooperation .";
      @media screen and (max-width: 780px){
        grid-template-areas:
                "main-banner main-banner main-banner main-banner main-banner"
                ". section section section ."
                "main-cooperation main-cooperation main-cooperation main-cooperation main-cooperation";
      }
      .main-banner{
        grid-area: main-banner;
        img{
          max-width: 100%;
          height: auto;
        }
      }
      section {
        grid-area: section;
        .main-title {
          margin: 1%;
          h3 {
            color: $color-blue;
            padding: 1% 0 1% 0;
            margin: 2% 0 1% 0;
            font-size: 2rem;

          }
        }
        .main-articles {
          .articles-all {
            display: flex;
            @media screen and (max-width: 640px) {
              flex-wrap: wrap;
            }
            article {
              margin: 1%;
              header {
                font-size: 1.3rem;
                font-weight: bold;
                color: $color-blue;
                margin: 0;
                padding: 0;
              }
              p {
                text-align: justify;
              }
              button{
                margin: 3% 0 3% 0;
                @media screen and (min-width: 640px){
                  display: none;
                }
              }
            }
          }
          .articles-button{
            display: flex;
            justify-content: space-around;
            @media screen and (max-width: 640px){
              display: none;
            }
          }
        }
      }
      .main-cooperation {
        grid-area: main-cooperation;
        background: $color-blue;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 8% 0 8% 0;
        padding: 5% 1%;
        @media screen and (max-width: 780px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        p {
          color: $color-white;
          font-size: 3rem;
          margin-bottom: 1%;
          text-align: center;
          @media screen and (max-width: 780px) {
            font-size: 2rem;
          }
        }
        .cooperation_right {
          color: $color-white;
          margin-left: 3%;
          align-self: center;
          text-align: center;
          @media screen and (max-width: 780px) {
            margin-left: 0%;
          }
          p {
            font-size: 1.2rem;
          }
          button{
            margin: 3% 0 3% 0;
          }
        }
      }
    }
    footer {
      grid-area: footer;
      .footer-hr {
        padding-bottom: 1%;
        hr {
          color: $color-bright-grey;
        }
      }
      .footer-top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "footer-foundation footer-projects footer-cooperation footer-contact";
        margin: 3% 0 0 0;
        @media screen and (max-width: 640px) {
          display: flex;
          flex-wrap: wrap;
        }
        .footer-foundation {
          grid-area: footer-foundation;
          @include footer-list
        }
        .footer-projects {
          grid-area: footer-projects;
          margin-left: 1%;
          @include footer-list
        }
        .footer-cooperation {
          grid-area: footer-cooperation;
          margin-left: 1%;
          @include footer-list
        }
        .footer-contact {
          grid-area: footer-contact;
          margin-left: 1%;
          @include footer-list
        }
      }
      .footer-bottom {
        text-align: center;
        margin: 2% 0 2% 0;
      }
    }
  }
}

