//Mixins

@mixin footer-list{
  header{
    text-transform: uppercase;
  }
  ul li{
    list-style: none;
    a{
      text-decoration: none;
      color: $color-black;
    }
  }
}

@mixin button{
  button {
    margin: 3% 0 3% 0;
  }
}